@use "./base.scss";

// put your custom CSS here!
pre,
code {
  tab-size: 2;
}

@media all and not ($mobile) {
  pre > code {
    font-size: 1rem;
  }

  pre > code > [data-line]:before {
    content: none;
    display: none;
  }
}
