@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!
pre,
code {
  tab-size: 2;
}

@media all and not ($mobile) {
  pre > code {
    font-size: 1rem;
  }

  pre > code > [data-line]:before {
    content: none;
    display: none;
  }
}

[data-language="table-of-contents"] {
  display: none;
}
